body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

td {
    min-width: 6em;
}

tr {
    border-bottom: 1px solid grey;
}

tr:nth-of-type(odd) {
    background: rgb(246, 246, 246);
}

tr:nth-of-type(even) {
    background: white;
}

table {
    border-collapse: collapse;
}